body {
    background-color: #221961;
}

#main_hader {
    background-color: #A682FF;
    position: absolute;
    width: 100% ;
    height: 20%;
    left: 0px;
    top: 0px;
}



#potions {
    margin-left: 10%;
    border-radius: 15em;
    border: none;
    width: 8%;
    height: 75%
}

#potions_img {
    width: 72%;
}


#items {
    margin-left: 15%;
    border-radius: 15em;
    border: none;
    width: 8%;
    height: 75%
}

#items_img {
    width: 72%;
}


#varinhas {
    margin-left: 15%;
    border-radius: 15em;
    border: none;
    width: 8%;
    height: 75%
}

#varinhas_img {
    width: 72%;
}


#user {
    margin-left: 20%;
    margin-top: 1.5em;
    border-radius: 15em;
    border: none;
    width: 8%;
    height: 75%
}

#user_img {
    width: 72%;
}

#rodape {
    position: absolute;
    left: 0px;
    top: 96%;
    width: 100%;
    height: 4%;
    background-color:#A682FF;
}

#title {
    color: white;
    width: 2em;
    height: 2em;
}


.move {
    margin-left: 13.6em;
    font-size: 1.9em;

}

#tb {
    margin-top: 7em;
}

#dev {
    position: relative;
    top: 19vh;
    width: 100%;
    height: 100%;

}

#chapeu {
    position: absolute;
    left: 22em;
    top: 5em;
    
    width: 40.4em;
    height: 40.2em;
    
}

#chapeu:hover {
    width: 0px;
    height: 0px;
}

#circulo {
    position: absolute;

    left: 20em;
    top: 7em;
    
    width:44.4em;
    height: 38em;


    background: rgb(85, 172, 201);
    border-radius: 50%;
}